body {
    background-color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid white;
    display: block; /* Hiển thị ngay từ đầu */
    margin: auto;
}
